@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: green;
  --primary-dark: #3d3d3d;
  --primary-light: #f3f3f3;
}

@layer base {
  .h1-bold {
    font-size: 2.5em;
    font-weight: 700;
    font-weight: bold;
    /* font-family: var(--font-roboto); */
  }
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .btn {
    @apply bg-primary rounded-lg py-3 px-6 sm:px-3 hover:cursor-pointer hover:scale-110;
  }

  .bg-primary {
    background-color: var(--primary-color);
    color: #f3f3f3;
  }

  .bg-dark {
    background-color: var(--primary-dark);
    color: var(--primary-light);
  }

  .bg-light {
    background-color: var(--primary-light);
    color: black;
  }
}
