@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: green;
  --primary-dark: #3d3d3d;
  --primary-light: #f3f3f3;
}

@layer base {
  .h1-bold {
    font-size: 2.5em;
    font-weight: 700;
    font-weight: bold;
    /* font-family: var(--font-roboto); */
  }
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .btn {
    @apply bg-primary rounded-lg py-3 px-6 sm:px-3 hover:cursor-pointer hover:scale-110;
  }

  .form-input {
    @apply flex flex-col justify-between lg:rounded-xl py-3 px-5 bg-dark-400 font-semibold font-inter;
  }

  .input {
    @apply w-full my-3 px-3 py-1 rounded-lg bg-dark-500 text-light-850 active:outline-none focus:outline-none appearance-none;
  }

  .bg-primary {
    background-color: var(--primary-color);
    color: #f3f3f3;
  }

  .bg-dark {
    background-color: var(--primary-dark);
    color: var(--primary-light);
  }

  .bg-light {
    background-color: var(--primary-light);
    color: black;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
}
