@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('../styles/audio.css');

:root {
  --primary-color: green;
  --primary-dark: #3d3d3d;
  --primary-light: #f3f3f3;
}

@layer base {
  .h1-bold {
    font-size: 2.5em;
    font-weight: 700;
    font-weight: bold;
    /* font-family: var(--font-roboto); */
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .btn {
    @apply rounded-lg bg-primary px-6 py-3 hover:scale-110 hover:cursor-pointer sm:px-3;
  }

  .form-input {
    @apply flex flex-col justify-between bg-dark-400 px-5 py-3 font-inter font-semibold lg:rounded-xl;
  }

  .input {
    @apply bg-inherit out-of-range:text-red-500 hover:bg-white mx-auto inline max-w-fit appearance-none rounded-xl px-[0.1rem] text-primary hover:cursor-pointer focus:outline-none;
  }

  .bg-primary {
    background-color: var(--primary-color);
    color: #f3f3f3;
  }

  .bg-dark {
    background-color: var(--primary-dark);
    color: var(--primary-light);
  }

  .bg-light {
    background-color: var(--primary-light);
    color: black;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
}
